<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appsettings>
		<add key="SMTPServerName" value="HTSSERVER" />
		<add key="FromUserName" value="fshepard@htsmi.com" />
		<add key="ccDistList" value="autoreports@ssitroy.com;fshepard@htsmi.com;jwhaley@htsmi.com" />
	</appsettings>
</configuration>
