<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AccessAutomation.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=htsazure;AccountKey=aY4Qq3xbXKXDoh7YfZmeYIdBQ9qKGu5mrAZ/PvGygeBnbDLl0+zcx1J8G3HdWALWyTqVuf7er35+P7V9F0xy8Q==;EndpointSuffix=core.windows.net"/>
    <add key="DataGridTableStyle1.ColumnHeadersVisible" value="True" />
    <add key="DataGridTableStyle1.MappingName" value="ACTIVE" />
    <add key="DataView1.RowFilter" value="Active = True" />
    <add key="DataView1.Sort" value="NEXT_SCHED" />
    <add key="DataSet2.DataSetName" value="DataSet2" />
    <add key="DataSet11.DataSetName" value="dataset1" />
    <add key="SMTPServerName" value="HTSSERVER.htsmi.local" />
    <add key="SMTPServerNamey" value="SBSSERVER.htsmi.local" />
    <add key="SMTPServerNamex" value="SBSSERVER" />
    <add key="SMTPServerName2" value="mail.ssitroy.com" />
    <add key="StartRunning" value="True" />
    <add key="WorkOffline" value="False" />
    <add key="RunOnTimer" value="False" />
    <add key="StartOffline" value="False" />
    <add key="FromUserName" value="autoreports@htsmi.com"/>
    <!--<add key="ccDistList" value="autoreports@ssitroy.com;fshepard@htsmi.com;jwhaley@htsmi.com" />-->
    <add key="ccDistList" value="edolikian@ssitroy.com" />

    <add key="AccessAutomation.AutoReportsWSTest.Service1Old" value="http://76.112.229.198\autoreportsws/service1.asmx" />
    <add key="AccessAutomation.AutoReportsWSTest.Service1" value="http://75.151.4.117\autoreportsws/service1.asmx" />
    <add key="Schedule.TopMost" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <AccessAutomation.My.MySettings>
      <setting name="FromUserName" serializeAs="String">
        <value>autoreports@htsmi.com</value>
      </setting>
      <setting name="WorkstationName" serializeAs="String">
        <value>APP_02</value>
      </setting>
      <setting name="RunOnTimer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoStartOnLoad" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Freq" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Offset" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WorkOffline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartTime" serializeAs="String">
        <value>12:00 AM</value>
      </setting>
      <setting name="EndTime" serializeAs="String">
        <value>11:59 PM</value>
      </setting>
      <setting name="AutoShutDown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastCheck" serializeAs="String">
        <value>2013-01-01</value>
      </setting>
      <setting name="DistributeFromServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DistributeFreq" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LastDistributed" serializeAs="String">
        <value>2013-01-01</value>
      </setting>
      <setting name="DistributeOffset" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LastMessageRun" serializeAs="String">
        <value>2013-01-01</value>
      </setting>
      <setting name="SMTPServerName" serializeAs="String">
        <value>smtp.sendgrid.net</value>
      </setting>
      <setting name="ccDistList" serializeAs="String">
        <value>autoreports@ssitroy.com;fshepard@htsmi.com;jwhaley@htsmi.com</value>
      </setting>
      <setting name="SMTPUser" serializeAs="String">
        <value>edolikian</value>
      </setting>
      <setting name="SMTPPassword" serializeAs="String">
        <value>HtsmiX302</value>
      </setting>
    </AccessAutomation.My.MySettings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpsBinding_IService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://htsazureautoreportswcfservice.azurewebsites.net/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService"
        contract="AutoReportsWCFService.IService" name="BasicHttpsBinding_IService" />
     </client>
     </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>